.blog {
  &__inner {
    margin-bottom: 158px;
  }

  &__desc {
    margin: 0;
    font-family: "DM Serif Display", "Arial", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: $second-color;
    margin-bottom: 96px;
  }

  &__desc::before {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background-color: #c396c6;
    margin-bottom: 63px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__title {
    margin: 0;
    font-family: "DM Serif Display", "Arial", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.4px;
    color: $second-color;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  &__text {
    margin: 0;
    max-width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $main-color;
  }
}
